
    <h2>Drag from one group to another</h2>
    <table>
        <tr>
            <td width="250"><b>Group #1</b></td>
            <td width="250"><b>Group #2</b></td>
        </tr>
        <tr>
            <td valign="top">
                <ul ui-on-Drop="onDrop($event,$data,men)">
                    <li ui-draggable="true" drag="man" 
                        on-drop-success="dropSuccessHandler($event,$index,men)"
                        ng-repeat="man in men track by $index">
                    {{man}}
                    </li>
                </ul>
            </td>
            <td valign="top">
                <ul ui-on-Drop="onDrop($event,$data,women)">
                    <li ui-draggable="true" drag="woman" 
                        on-drop-success="dropSuccessHandler($event,$index,women)"
                        ng-repeat="woman in women track by $index">
                    {{woman}}
                    </li>
                </ul>
            </td>
        </tr>
    </table>
