<h3>Create task</h3>
<div class="panel-body">
    <div class="form-group">
        <!-- <label>Title:</label> -->
        <input class="form-control" ng-model="" placeholder = "title"/>
    </div>
    <div class="form-group">
        <!-- <label>Description:</label> -->
        <input class="form-control" ng-model="" placeholder = "description"/>
    </div>
    <div class="form-group">
        <!-- <label>Tags:</label> -->
        <input class="form-control" ng-model="" placeholder = "tags, tag1, tag2" />
    </div>
    <div class="form-group">
        <!-- <label>Assign:</label> -->
        <input class="form-control" ng-model="" placeholder = "assign to: user1, user2" />
    </div>
    <button class="btn btn-primary" ng-click="">Create</button>
    <button class="btn btn-primary" ng-click="">Cancel</button>
</div>