<div class="panel-body">
    <div class="form-group">
        <label>Title:</label>
        <input class="form-control" ng-model="task.title" />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" ng-model="task.description" />
    </div>
    <div class="form-group">
        <label>Date created:</label>
        <input class="form-control" ng-model="task.datecreated" />
    </div>
    <div class="form-group">
        <label>Comment:</label>
        <input class="form-control" ng-model="task.taskcomment" />
    </div>
    
    <div>
    <label>Assign to:</label>
    <tags-input ng-model="tags">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
    </div>

    <button style="margin-top:300px" class="btn btn-primary" ng-click="saveEditTask(task)">Save</button>
    <button style="margin-top:300px" class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
</div>



