
<!DOCTYPE html>
<html>

<body>
    <div class="container-1">
        <div class="span3">
            <div id="header-1">
                <h3>TO DO</h3>
            </div>
            <div class="row-1">
                <p>Task 1 ...</p>
            </div>
            <div class="row-1">
                <p>Task 2 ...</p>
            </div>
            <div class="btn btn-primary" style="margin: 320px 20px 30px 85px; padding: 5px 25px 5px 25px;">Create</div>
        </div>
        <div class="span3">
            <div id="header-1">
                <h3>DOING</h3>
            </div>
            <div class="row-1">
                <p>Task 3 ...</p>
            </div>
        </div>
        <div class="span3">
            <div id="header-1">
                <h3>REVIEW</h3>

            </div>
        </div>
        <div class="span3">
            <div id="header-1">
                <h3>DONE</h3>

            </div>
        </div>

    </div>
</body>

</html>