<div class="container-3">
    <div id="header-2">
        <h3>View task: {{task.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-8">
            <label>Title:</label>
           <div class="panel">
                <p class="text-left">{{task.title}}</p>
            </div>
           <label>Description:</label>
           <div class="panel">
                <p class="text-left">{{task.description}}</p>
            </div>
            
            <label>Assign to:</label>
            <div class="panel">
            <p class="text-left">{{task.taskassign}}</p>
            </div>
            <div class="form-group">
                <label>Comment:</label>
                <input type="comment" class="form-control" id="comment" placeholder="Comment here...">
            </div>
            </div>

        <div class="button-size">
            <button class="btn btn-primary" ng-click="editTask()">Edit</button>
            <button class="btn btn-primary" ng-click="closeViewTask()">Close</button>
            <button class="btn btn-primary" ng-click="deleteTask(task._id)">Delete Task</button>
        </div>
    </div>

