<div>
    <h1>Project: {{project.projectname}} </h1>
</div>

<ul id="l-story-status">
    <li>To Do</li>
    <li>Doing </li>
    <li>Review </li>
    <li>Done </li>
</ul>
<!-- ng-click="viewDetailTaskId(task._id)"-->
<ul class="taskTargets">
    <li id="task-drop-target-todo" class="task-drop-target" droppable>
        <div class="task" style="text-align: center;">
            <div class="btn btn-droppable" ng-repeat="task in tasks" data-drop="true" ng-model='task' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=task])'}" jqyoui-droppable="{index: {{$index}}}">
                <div class="btn btn-info btn-draggable" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="task" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!task.title" ng-click="viewDetailTaskId(task._id)">{{task.title}}</div>
            </div>
        </div>
    </li>
    <!-- <li id="task-drop-target-doing" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasks1' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasks1])'}" jqyoui-droppable="{multiple:true}">
            <div class="caption">
                <div class="btn btn-info btn-draggable" ng-repeat="task in tasks1" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasks1" jqyoui-draggable="{index: {{$index}},animate:true}">{{task.title}}</div>
            </div>
        </div>
    </li>
    <li id="task-drop-target-review" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasks2' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasks2])'}" jqyoui-droppable="{multiple:true}">
            <div class="caption">
                <div class="btn btn-info btn-draggable" ng-repeat="task in tasks2" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasks2" jqyoui-draggable="{index: {{$index}},animate:true}">{{task.title}}</div>
            </div>
        </div>
    </li>
    <li id="task-drop-target-done" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasks3' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasks3])'}" jqyoui-droppable="{multiple:true}">
            <div class="caption">
                <div class="btn btn-info btn-draggable" ng-repeat="task in tasks3" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasks3" jqyoui-draggable="{index: {{$index}},animate:true}">{{task.title}}</div>
            </div>
        </div>
    </li> -->
</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <h4 class="modal-title" id="myModalLabel">Create task on project {{project.projectname}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" ng-model="task.title" placeholder="title" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="task.description" placeholder="description" />
                </div>

                <div class="form-group">
                    <input class="form-control" ng-model="task.tags" placeholder="tags, tag1, tag2" />
                </div>
                <div class="form-group move-down">
                    <label for="Autocomplete">Assign to</label>
                    <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-size">
                    <button type="button" class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close" ng-click="createTaskProjectId()">Create</button>
                    <button class="btn btn-primary" ng-click="reset()">Clear</button>
                    <button class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="demo" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin: -110px 50px 100px 2px;height: 30px;width: 100px;">Create Task</div>
</div>
