<div style="padding: 20px 50px 150px;">
    <div>
    <h1>Project: {{project.projectname}} </h1>
</div>

<ul id="l-story-status">
    <li>To Do</li>
    <li>Doing </li>
    <li>Review </li>
    <li>Done </li>
</ul>

<!-- ng-click="viewDetailTaskId(task._id)"-->
<ul class="taskTargets">
   
     <li id="task-drop-target-todo" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasksTodo' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasksTodo])'}" jqyoui-droppable="{multiple:true, onDrop:'setTaskTodo()'}">
            <div class="caption">
                <div style="text-align: left" class="btn btn-info btn-draggable" ng-repeat="task in tasksTodo" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasksTodo" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'dragTask({index: task._id})'}">{{task.title}}
                <br>
                <span class="glyphicon glyphicon-eye-open" ng-click="viewDetailTaskId(task._id)"></span>
                
                </div>
            </div>
        </div>
    </li>
                  
  
    <li id="task-drop-target-doing" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasksDoing' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasksDoing])'}" jqyoui-droppable="{multiple:true , onDrop:'setTaskDoing()'}">
            <div class="caption">
                <div style="text-align: left" class="btn btn-info btn-draggable" ng-repeat="task in tasksDoing" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasksDoing" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'dragTask({index: task._id})'}">{{task.title}}
                <br>
                <span class="glyphicon glyphicon-eye-open" ng-click="viewDetailTaskId(task._id)"></span>
                
                </div>
            </div>
        </div>
    </li>
    
    <li id="task-drop-target-review" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasksReview' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasksReview])'}" jqyoui-droppable="{multiple:true, onDrop:'setTaskReview()'}">
            <div class="caption">
                <div style="text-align: left" class="btn btn-info btn-draggable" ng-repeat="task in tasksReview" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasksReview" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'dragTask({index: task._id})'}">{{task.title}}
                <br>
                <span class="glyphicon glyphicon-eye-open" ng-click="viewDetailTaskId(task._id)"></span>
                </div>
            </div>
        </div>
    </li>

    <li id="task-drop-target-done" class="task-drop-target" droppable>
        <div class="thumbnail" data-drop="true" ng-model='tasksDone' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=tasksDone])'}" jqyoui-droppable="{multiple:true , onDrop:'setTaskDone()'}">
            <div class="caption">
                <div style="text-align: left" class="btn btn-info btn-draggable" ng-repeat="task in tasksDone" ng-show="task.title" data-drag="{{task.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tasksDone" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'dragTask({index: task._id})'}">{{task.title}}
                    <br>
                <span class="glyphicon glyphicon-eye-open" ng-click="viewDetailTaskId(task._id)"></span>
                </div>
            </div>
        </div>
    </li>
</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <h4 class="modal-title" id="myModalLabel">Create task on project {{project.projectname}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" ng-model="task.title" placeholder="title" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="task.description" placeholder="description" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-size">
                    <button type="button" class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close" ng-click="createTaskProjectId()">Create</button>
                    <button class="btn btn-primary" ng-click="reset()">Clear</button>
                    <button class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="demo" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin: -120px 50px 100px 2px;height: 30px;width: 100px;">Create Task</div>
</div>




