
@media only screen and (max-width: 500px) {
    body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*.container-1 {
    margin-top: 10px;
    width: 1200px;
    margin: auto;
    padding: 0;
}*/
}


a {
  color: #00B7FF;
}

.form-control {
    min-width: auto;
    max-width: 650px;
    display: inline;
    padding: 20px 12px 20px 30px;
}
/*.date {
    width: 200px;
    height: 35px;
    display: inline;
    padding: 10px 1px 20px 30px;
    margin: 10px 340px 10px 20px;

}*/

/*.container-1 {
    margin-top: 10px;
    width: 1200px;
    margin: auto;
    padding: 0;
}*/

.span3-todo{
    min-height: 520px;
    max-height: auto;
    width:  270px;
    /*border: 1.5px solid black;*/
    display: inline-block;
    background-color: #c3dae3;
}

.span3-doing{
    min-height: 520px;
    max-height: auto;
    width:  270px;
   
    display: inline-block;
   
}
.span3-review{
    min-height: 520px;
    max-height: auto;
    width:  270px;
    
    display: inline-block;
   
}
.span3-done{
    min-height: 520px;
    max-height: auto;
    width:  270px;
    
    display: inline-block;
   
}
#header-1{
    border-bottom: 1px solid black;
}
#header-1 h3{
    text-align: center;
}

.row-1{
   
    margin: 10px;
    padding: 4px 4px 4px 4px;
}*/
/*create*/
/*.container-2 {
    border: 2px solid blue;
    margin:50px 200px 80px 200px; 
    margin: auto;
    padding: 20px 30px 20px 30px;
	  text-align:center;
}*/

/*view task*/
.col-md-8{
	border-right: 1px solid black;
	padding: 30px 50px 30px 50px;
}

.container-3 {
    border: 1px solid gray;
    margin:40px 90px 80px 90px; 
    padding: 20px 40px 20px 40px;
}

#header-2{
    border-bottom: 1px;
}
#header-2 h3{
    text-align: left;
}

.form-control-1 {

    min-width: 0;
    width: 550px;
    height: 60px;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}
.panel-body {
	padding-top: 1px;
}
.panel {
	padding-top: 1px;
}
.text-left {
	font-size: 100%;

}
p{
	font-size: 120%;

}
.button-size{
	padding: 5px 40px 20px 20px;
}
.form-group {
	padding-top: 5px;
}

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

ul {
 /* text-align: left;
  display: inline;
  margin: 0;*/
  padding: 20px 4px 17px 0;
  /*list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}

ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#l-story-status {
    margin-top: 16px;
}

#l-story-status li {
    background-color: #1d2f3e;
    color: #FFFFFF;
    font-size: 1.3em;
    width: 25%;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: normal;
    list-style-type: none;
    float: left;
}

#l-task-dropzone {
    background-color: #FFFFFF;
}

.l-button-icon {
    display: inline-block;
    width: 14px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.task-item {
    width: 100%;
    border-radius: 0;
    background-color: #54D0ED;
    margin-top: 3px;
    padding: 5px;
    cursor : move;
}

.task-item .deleteTaskButton {
    float: right;
    margin-right: 0;
    margin-top: -4px;
}
.task-list li {
    width: 29%;
    padding-top: 2px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 0.8em;
}

.task-item {
    width: 100%;
    border-radius: 0;
    background-color: #54D0ED;
    margin-top: 3px;
    padding: 5px;
    cursor : move;
}


.task-drop-target {
    position: absolute;
    width: 22%;
    list-style-type: none;
    border-radius: 0;
    background-color: #25d3e8;
}
#task-drop-target-todo {
    left: 4%;
}

#task-drop-target-doing {
    left: 27%;
}

#task-drop-target-review {
    left: 50%;
}
#task-drop-target-done {
    left: 73%;
}

.task-list li {
    width: 29%;
    padding-top: 2px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 0.8em;
}