
@media only screen and (max-width: 500px) {
    body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
}

a {
  color: #00B7FF;
}

.panel-body {
	padding-top: 1px;
}
.panel {
	padding-top: 1px;
}

.text-left {
	font-size: 120%;
  font-weight: bold;
  padding: 8px 130px;
  padding-left: 100px;
  text-align: left;
}

.form-inline{
  font-size: 120%;
  font-weight: bold;
  padding: 8px 130px;
  padding-left: 100px;
  text-align: left;
  width: 440px;
  height: 55px;
  margin-top: 10px;
}

p{
	font-size: 120%;

}
.button-size{
	padding: 5px;
}
.form-group {
	padding-top: 5px;
}

body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #E3CAA1;
}

ul {
  padding: 0px 4px 30px 0;
  text-align: left;
}

ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover {
  background: #555;
  color: #fff;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#l-story-status {
    margin-top: 16px;
}


#l-story-status li {
    background-color: #1d2f3e;
    color: #FFFFFF;
    font-size: 1.5em;
    width: 25%;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: normal;
    list-style-type: none;
    float: left;
    /*padding: 20px 50px 150px;*/
}



#l-task-dropzone {
    background-color: #FFFFFF;
}

.l-button-icon {
    display: inline-block;
    width: 14px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.task-item {
    width: 100%;
    border-radius: 0;
    background-color: #54D0ED;
    margin-top: 3px;
    padding: 5px;
    cursor : move;
}

.task-item .deleteTaskButton {
    float: right;
    margin-right: 0;
    margin-top: -4px;
}
.task-list li {
    width: 29%;
    padding-top: 2px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 0.8em;
}

.task-item {
    width: 100%;
    border-radius: 0;
    background-color: #54D0ED;
    margin-top: 3px;
    padding: 5px;
    cursor : move;
}

.task-drop-target {
    position: absolute;
    width: 22%;
    list-style-type: none;
    border-radius: 0;
    background-color: #f9df8d;
}
#task-drop-target-todo {
    left: 4%;
}

#task-drop-target-doing {
    left: 27%;
}

#task-drop-target-review {
    left: 50%;
}
#task-drop-target-done {
    left: 73%;
}

.task-list li {
    width: 29%;
    padding-top: 2px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 0.8em;
}

.box-right{
  float: left;
  width: 20%;
  border: 1px black solid;
  background: #202020; 

}

.box-right ul {
 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.box-right ul li {

  background: #202020; 
  display: block; 
  color: #999999;
  text-shadow: 0 -1px 0 #000;
}

.box-right ul li:hover {
  background: #ddd4bc;
  color: #fff;
}

.box-right a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}
.box-right a:hover {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.box-right h3{
  padding-left: 20px;
  color: #999999;
}

.box-left
{
  background-image: url("/images/task.jpg");
  width: 80%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  float:right;
  /*border: 1px solid white;*/
}

.content{
  width: 100%;
  margin: auto;
}

.top-bar {
  background : #0b99bc;
  height: 48px;
  line-height: 48px;
  margin: 0 0 30px ;
  
  width: 100%;
  margin-bottom: 0px !important;

}
.top-bar .name{
height: 45px;
margin: 0;
font-size: 20px;
background: #0b99bc;
color: white;
}
.top-bar ul li{
  float: left;
  font-size: 16px;
  background: #0b99bc;

}

.top-bar ul.right{
  width: auto;
  margin-bottom: 0;

}
.top-bar a {
  text-decoration: none;
  color: #fff;
}

.top-bar a:hover {
  text-decoration: none;
  color: #999999;
}

.right{
  float: right !important;
}

.top-bar ul {
  margin-left: 0;
  display: inline;
  height: 45px;
  line-height: 45px;
  list-style: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 7%;
}
