<!DOCTYPE html>
<html ng-app= "taskboardApp" >
  <head>
    <title><%= title %></title>
  
    <link href="/component/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/component/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/component/bootstrap/bootstrap-responsive.min.css" rel="stylesheet"/> -->
    <link href="/stylesheets/style.css" rel="stylesheet"/>
  </head>
  <body>
   <!--  <h1><%= title %></h1> -->
   <!--  <p>Welcome to <%= title %></p> -->

    <div ui-view> </div>  
   <script src="/component/jquery/dist/jquery.min.js"></script>
   <script src="component/jquery-ui/jquery-ui.min.js"></script>
   <script src="/component/angular/angular.min.js"></script>
    <script src="/component/angular-route/angular-route.min.js"></script>
    <script src="/component/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/routes.js"></script>
  
    <script src="/js/controllers/controllers.js"></script>
    <script src="component/jquery/dist/jquery.js"></script>
   
    <script src="/component/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/component/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    
  
  </body>
</html>